@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Patrick+Hand&family=Rubik+Beastly&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Patrick+Hand&family=Roboto:ital@1&family=Rubik+Beastly&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Neonderthaw&family=Nova+Mono&family=Patrick+Hand&family=Red+Hat+Mono:wght@300&family=Roboto:ital@1&family=Rubik+Beastly&display=swap');

body{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 27%, rgba(252,176,69,1) 89%);
}

h1{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin: 30px;
    background-color: dodgerblue;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-family: "Architects Daughter";
}

h2{
    font-size: 40px;
    text-align: right;
    margin: 30px;
    background-color: cadetblue;
    font-family: "Architects Daughter";
}

p{
    font-size: 30px;
    line-height: 1.5;
    margin: 30px;
    column-count: 3;
    font-family: "Roboto";

}

.worked{
    font-size: 50px;
    font-family: "Neonderthaw";
}
