/*********************Fierst page******************************/




@media screen and (max-width: 980px){
  .menu-toggler{
    display: block;
  }

  .navbar-menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
  }

  .navbar-menu a{
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }

  .sticky .navbar-menu{
    background-color: #f1f1f1;
  }
  
  .navbar-menu.active{
    right: 0;
  }

  .menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2){
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }
}

/*************************  Service  *************************/

.contai{
  margin-left: auto;
  margin-right: auto;
  padding:15px 3%;
  padding-bottom: 100px;
}

.contai .heading{
  padding-top: 200px;
  text-align: center;
  padding-bottom: 50px;
  color:rgb(0, 0, 0);
  text-shadow: 0 5px 10px rgba(0,0,0,.2);
  font-size: 50px;
}

.contai .box-contai{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap:10px;
}

.contai .box-contai .box{
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  border-radius: 5px;
  background: green;
  text-align: center;
  padding:30px 20px;
}

.contai .box-contai .box i{
font-size: 60px;
padding: 20px;
}

.container .box-contai .box h3{
  color:rgb(255, 255, 255);
  font-size: 22px;
  padding:10px 0;
}

.contai .box-contai .box p{
  color:rgb(255, 255, 255);
  font-size: 15px;
  line-height: 1.8;
}

.contai .box-contai .box .btn{
  margin-top: 10px;
  display: inline-block;
  background:#333;
  color:#fff;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
}

.contai .box-contai .box .btn:hover{
  letter-spacing: 1px;
}

.contai .box-contai .box:hover{
  box-shadow: 0 10px 15px rgba(0,0,0,.3);
  transform: scale(1.03);
}

@media (max-width:768px){
  .contai{
      padding:20px;
  }
}


/*************************  About Page  *************************/



.wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}
.background-container{
  width: 100%;
  min-height: 100vh;
  display: flex; 
}
.bg-1{
  flex: 1;

}
.bg-2{
  flex: 1;
  
  
}
.about-container{
  width: 85%;
  min-height: 80vh;
  position: absolute;
  background-color: white;
  box-shadow: 24px 24px 30px #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  border-radius: 5px;
}
.image-container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  width: 500px;

  margin: 20px;
  border-radius: 10px;
}
.text-container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 22px;
}
.text-container h1{
  font-size: 70px;
  padding: 20px 0px;
}
.text-container a{
  text-decoration: none;
  padding: 12px;
  margin: 50px 0px;
  background-color: #333;
  border: 2px solid transparent;
  color: white;
  border-radius: 5px;
  transition: .3s all ease;

 
}
.text-container a:hover{
  background-color: transparent;
  color: black;
  border: 2px solid rgb(0, 0, 0);
}
@media screen and (max-width: 1600px){
  .about-container{
      width: 80%;
  }
  .image-container img{
      width: 400px;
     
  }
  .text-container h1{
      font-size: 25px;
  }
  .text-container p{
    font-size: 20px;
}
}
@media screen and (max-width: 1100px){

  .wrapper{
    height: 1000px;
  }
  .about-container{
      flex-direction: column;
  }
  .image-container img{
      width: 300px;
     
  }
  .text-container {
      align-items: center;
  }
}


/*************************  Gallery  *************************/

.titl h1{
  text-align: center;
  padding-top: 150px;
}

.gallery{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 8%;
}

.images{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.images img{
  width: 100%;
}





/*************************  Footer  *************************/



/*About page*/
.br{
  padding-top: 100px;
}
.about-section{
  background: url("/image/about.jpg") no-repeat left;
  background-size: 55%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 0;

}

.inner-container{
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 150px;

}

.inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text{
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

@media screen and (max-width:1200px){
  .inner-container{
      padding: 80px;
  }
}

@media screen and (max-width:1000px){
  .about-section{
      background-size: 100%;
      padding: 100px 40px;
  }
  .inner-container{
      width: 100%;
  }
}

@media screen and (max-width:600px){
  .about-section{
      padding: 0;
  }
  .inner-container{
      padding: 60px;
  }
}

/*animation*/

.ttitle{
  font-size: 60px;
  
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke: 2px whitesmoke;
  background-image: linear-gradient(white, white);
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  width: 1200px;
  transform: translate(-50%,-50%);
  -webkit-background-clip: text;
  background-position: -1250px 0;
  animation: backcolor 5s linear infinite alternate;
}

@keyframes backcolor {
  100%{
    background-position: 0 0;
  }
  
}

/*Antartet*/

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}

.timeline h2{
  color: white;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: rgb(0, 0, 0);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.ccontainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.ccontainer::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgb(255, 0, 0);
  border: 4px solid rgb(255, 0, 0);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.ccontent {
  padding: 20px 30px;
  background-color: green;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .ccontainer {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .ccontainer::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}

.body{
  background: url(../image/background.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

/*Information sector*/

.information{


}

.information h1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.information .card{
  width: 250px;
  height: 500px;
  background-color: black;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  flex-wrap: wrap; /*Adjusts the position of the cards*/
    display: inline-block; 
    justify-content: center; 
    align-items: center;

}


/*Traditional*/

.titleheading{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.titleheading .heading{
  padding-top: 150x;
  width: 50%;
 

}
.titleheading .heading h3{
  font-size: 3em;
  font-weight: bolder;

  border-bottom: 3px solid #222;
  text-align: center;
}

.titleheading .heading h3 span{
  font-weight: 100;
}
.textt{
  padding-top: 50px;
padding-left: 100px;
padding-right: 100px;
padding-bottom: 50px;
}

.textt .left{
  float: left;
  margin-right: 30px;
  margin-left: 30px;
}
.textt .right{
  float: right;
  margin-right: 30px;
  margin-left: 30px;
}

.textt .right img{
  width: 400px;
  border-radius: 5px;
}

.textt .left img{
  width: 400px;
  border-radius: 5px;
}

.textt .paragraf{
  text-align: center;
  
}

.textt .paragraf p{
  font-size: 22px;
  color: #353b48;
}
.textt .paragraf h1{
  font-size: 35px;
  color: black;
}

.textt .bbuttons{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textt .bbuttons a{
  padding: 20px;
  background-color: green;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}


@media screen and (max-width: 600px) {
 .textt {
padding: 0;
margin: 0;
padding-top: 150px;
 }
.textt .left{
  padding: 0;
margin: 0;

}

.textt .right{
  padding: 0;
margin: 0;

}

.textt .paragraf{
  padding-left: 20px;
  padding-right: 20px;
}
.textt .paragraf .left img{
  border-radius: 150px 10px 10px 60px;
}

.textt .paragraf .right img{
  border-radius: 10px 150px 60px 10px;
}

  }

/*Rreth Shkodres*/
.main{
  flex-wrap: wrap; /*Adjusts the position of the cards*/
  display: flex; 
  justify-content: center; 
  align-items: center;
}

  .container-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    
}

.item-container{

    width: 800px;

    height: 500px;

    position: relative;

    isolation: isolate;

    overflow: hidden;


}

.item-img{

    height: 100%;

    width: auto;

    min-width: 100%;

    position: absolute;

    inset: 0;

    z-index: -1;

}

.hover-container{

    position: absolute;

    bottom: 0;

    width: 100%;

    height: 0;

    display: flex;

    flex-wrap: wrap;

    justify-content: space-around;

    padding: 10px;

    padding-top: 20%;

    background-image: linear-gradient(0,rgb(0,0,0,0.9),rgb(0,0,0,0.9),rgb(0,0,0,0.9),rgb(0,0,0,0.9),rgb(0,0,0,0.9),rgb(0,0,0,0.9),rgb(0,0,0,0.9),rgb(0,0,0,0.9),rgb(0,0,0,0.9),rgb(0,0,0,0.7),rgb(0,0,0,0.4),rgb(0,0,0,0.2),rgb(0,0,0,0.1),transparent);

    color: white;

    opacity: 0;

    transition: opacity 0.45s, height 0.5s;

}

.item-container:hover > .hover-container{

    opacity: 100%;

    pointer-events: all;

    height: 100%;

}

.hover-header{

    width: 50%;

    font-size: 30px;

}

.hover-description{

    width: 100%;

    font-size: 20px;

    color: white;
    padding: 20px;

}
  

.hover-btn{

  width: 30%;

  color: black;

  display: grid;

  place-items: center;

  border-radius: 25px;

  background-color: white;

  height: 30px;

  text-decoration: none;

  font-size: 25px;

  font-weight: 500;

  box-sizing: content-box;

  padding:5px 10px;

}


.card{
  width: 20%;

  box-shadow: 2px 2px 20px black;
  border-radius: 5px; 
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 }

.image img{
width: 100%;
border-top-right-radius: 5px;
border-top-left-radius: 5px;



}

.title{

text-align: center;
padding: 10px;

}

h1{
font-size: 20px;
}

.des{
padding: 3px;
text-align: center;

padding-top: 10px;
     border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}
button{
margin-top: 40px;
margin-bottom: 10px;
background-color: white;
border: 1px solid black;
border-radius: 5px;
padding:10px;
}
button:hover{
background-color: black;
color: white;
transition: .5s;
cursor: pointer;
}




article{
  position: relative;
  padding: 30px;
}


article .image1{
  height: 180px;
  width: 300px;
  background-image: url(../image/theth.jpg);
  background-size: cover;
    padding: 20px;

}

article .image2{
  height: 180px;
  width: 300px;
  background-image: url(../image/mesi.jpg);
  background-size: cover;
    padding: 20px;

}

article .image3{
  height: 180px;
  width: 300px;
  background-image: url(../image/plumbit.jpg);
  background-size: cover;
    padding: 20px;

}

article .image4{
  height: 180px;
  width: 300px;
  background-image: url(../image/razma.jpg);
  background-size: cover;
    padding: 20px;

}

article .image5{
  height: 180px;
  width: 300px;
  background-image: url(../image/velipoja.jpg);
  background-size: cover;
    padding: 20px;

}

article .image6{
  height: 180px;
  width: 300px;
  background-image: url(../image/shk1.jpg);
  background-size: cover;
    padding: 20px;

}

article .image7{
  height: 180px;
  width: 300px;
  background-image: url(../image/marubi.jpg);
  background-size: cover;
    padding: 20px;

}

article .image8{
  height: 180px;
  width: 300px;
  background-image: url(../image/kalaja.jpg);
  background-size: cover;
    padding: 20px;

}

article .image1m{
  height: 180px;
  width: 300px;
  background-image: url(../image/13.jpg);
  background-size: cover;
    padding: 20px;

}

article .image2m{
  height: 180px;
  width: 300px;
  background-image: url(../image/kalaja.jpg);
  background-size: cover;
    padding: 20px;

}

article .image3m{
  height: 180px;
  width: 300px;
  background-image: url(../image/11.jpg);
  background-size: cover;
    padding: 20px;

}

article .image4m{
  height: 180px;
  width: 300px;
  background-image: url(../image/art.png);
  background-size: cover;
    padding: 20px;

}

article .text{
  height: auto;
  width: 300px;
  background-color: whitesmoke;
  padding: 20px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}

article .text .header{
  text-transform: uppercase;
  font-size: 15px;
  color: black;
}




.main{
  flex-wrap: wrap; /*Adjusts the position of the cards*/
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh;
    min-height: 500px;
}

.info{
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 30px;
  font-size: 20px;
}

ol {
  text-align: left;
  font-size: 18px;
  
}


 .paragraf ul {
  text-align: left;
  font-size: 20px;
}



table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}


.copyright_text{
  color: #ddd;
}



main{
  width: 100%;
  height: 80vh;

}

 .bg-image {
  background-image: url("/image/background.jpg");
  height: 100vh;
  min-height: 500px;
  filter: blur(8px);   /*Filter for Img*/
  -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


 .bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

 .bg-text h2{
  margin-bottom: 50px;
}

main p{
  padding-top: 80px;
  padding-bottom: 25px;
}


#butt{
  padding: 20px;
  
  color: white;
  border-radius: 10px;
  border: 2px solid white;
  
}

#butt:hover{
  background-color: white;
  color: #222;
}




.list ol{
  font-size: 22px;
}