* {
    box-sizing: border-box;
    margin: 0;
    outline: none; border:none;
    text-decoration: none;
    scroll-behavior: smooth;
  }

/*************************  NavBar  *************************/

header{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(0,0,0,0.5);
}

#chk1{
    display: none; 
}

i{
    color: #fff;
    cursor: pointer;
}

header .logo{
    flex: 1;
    color:#fff;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 15px;
}



header ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
}

header ul li{
    list-style: none;
}

header ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}

header ul li a:hover{
    border-bottom: 2px solid cadetblue;
}

header .menu{
    font-size: 2.5em;
    display: none;
}

@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }

    header ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
     
    header .menu{
        display: block;
        width:100px;
        text-align: center;
    }

    #chk1:checked ~ ul{
        right: 0;
    }
}

/*************************  Header Page  *************************/

#home{
  height: 100vh;
  min-height: 500px;
  background: url(../image/background.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#home .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home .content{
  width: 100%;
  color: #fff;
}

#home .content h1{
  font-size: 50px;
  margin-bottom: 40px;
}

#home .content h1::after{
  content: "E DASHTUN";
  animation: textanim 10s linear infinite;
}

@keyframes textanim{
  25%{
    content: "E BUKUR";
  }
  50%{
    content: "E MADHE";
  }
  75%{
    content: "E CMUAR";
  }
}

.sm a{
  color: #fff;
  font-size: 22px;
  margin: 0 10px;
  transition: .2s linear;
}

.sm a:hover{
  color: #48dbfb;
}

#home .buttons{
  margin-top: 60px;
}

#home .buttons a{
  display: inline-block;
  margin: 15px 30px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  border: 1px solid #ffffff;
  padding: 14px 0;
  border-radius: 6px;
  transition: .2s linear;
}

#home .buttons a:hover,
#home .buttons a:nth-child(2)
{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}


@media screen and (max-width: 980px){
  .menu-toggler{
    display: block;
  }

  .navbar-menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
  }

  .navbar-menu a{
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }

  .sticky .navbar-menu{
    background-color: #f1f1f1;
  }
  
  .navbar-menu.active{
    right: 0;
  }

  .menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2){
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }
}

/*************************  Service  *************************/

.contai{
  margin: 50px;
  padding:15px 9%;
  padding-bottom: 100px;
}

.contai .heading{
  text-align: center;
  padding-bottom: 15px;
  color:rgb(0, 0, 0);
  text-shadow: 0 5px 10px rgba(0,0,0,.2);
  font-size: 50px;
}

.contai .box-contai{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap:15px;
}

.contai .box-contai .box{
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  border-radius: 5px;
  background: green;
  text-align: center;
  padding:30px 20px;
}

.contai .box-contai .box i{
font-size: 60px;
padding: 20px;
}

.container .box-contai .box h3{
  color:rgb(255, 255, 255);
  font-size: 22px;
  padding:10px 0;
}

.contai .box-contai .box p{
  color:rgb(255, 255, 255);
  font-size: 15px;
  line-height: 1.8;
}

.contai .box-contai .box .btn{
  margin-top: 10px;
  display: inline-block;
  background:#333;
  color:#fff;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
}

.contai .box-contai .box .btn:hover{
  letter-spacing: 1px;
}

.contai .box-contai .box:hover{
  box-shadow: 0 10px 15px rgba(0,0,0,.3);
  transform: scale(1.03);
}

@media (max-width:768px){
  .contai{
      padding:20px;
  }
}

/*************************  Go Up button  *************************/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(66, 66, 66);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}



/*************************  About Page  *************************/

.wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}
.background-container{
  width: 100%;
  min-height: 100vh;
  display: flex; 
}
.bg-1{
  flex: 1;

}
.bg-2{
  flex: 1;
  
  
}
.about-container{
  width: 85%;
  min-height: 80vh;
  position: absolute;
  background-color: white;
  box-shadow: 24px 24px 30px #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  border-radius: 5px;
}
.image-container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  width: 500px;

  margin: 20px;
  border-radius: 10px;
}
.text-container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 22px;
}
.text-container h1{
  font-size: 70px;
  padding: 20px 0px;
}
.text-container a{
  text-decoration: none;
  padding: 12px;
  margin: 50px 0px;
  background-color: #333;
  border: 2px solid transparent;
  color: white;
  border-radius: 5px;
  transition: .3s all ease;

 
}
.text-container a:hover{
  background-color: transparent;
  color: black;
  border: 2px solid rgb(0, 0, 0);
}
@media screen and (max-width: 1600px){
  .about-container{
      width: 80%;
  }
  .image-container img{
      width: 400px;
     
  }
  .text-container h1{
      font-size: 25px;
  }
  .text-container p{
    font-size: 20px;
}
}
@media screen and (max-width: 1100px){

  .wrapper{
    height: 1000px;
  }
  .about-container{
      flex-direction: column;
  }
  .image-container img{
      width: 300px;
     
  }
  .text-container {
      align-items: center;
  }
}


/*************************  Footer  *************************/

footer{
  background: #000000;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer li{
  color: white;
}

footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}

footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}

footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.content .top .logo-details{
  color: #fff;
  font-size: 30px;
}

.content .top .media-icons{
  display: flex;
}

.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1){
  background: #E1306C;
}

.top .media-icons a:nth-child(1):hover{
  color: #E1306C;
  background: #fff;
}

footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}

.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}

.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}

.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}

.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}

.content .link-boxes .input-box{
  margin-right: 55px;
}

.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}

.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}

.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}

.input-box input[type="button"]:hover{
  opacity: 1;
}

footer .bottom-details{
  width: 100%;
  background: #000000;
}

footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}

.bottom-details .bottom_text a{
  margin-right: 10px;
}

@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }

  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }

  .content .top .logo-details{
    font-size: 26px;
  }

  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }

  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }

  footer .content .link-boxes .input-box{
    width: 60%;
  }

  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }

  footer .content .top{
    flex-direction: column;
  }

  .content .top .media-icons{
    margin-top: 16px;
  }

  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }

  footer .content .link-boxes .input-box{
    width: 100%;
  }
}




